

.black{
  color: black;
}
.green{
  color: green;
}
.red{
  color: red;
}
.hidden{
  display: none;
}
.answer{
  position: absolute;
  background-color: white;
  opacity: .8;
  height: 50px;
  width: 50%;
  border: 1px solid black;
  z-index: 1;
  left: 25%;
  top: 170px;
}
.answer > label {
  position: absolute;
  width: 100%;
  text-align: center;
}
.answer > input{
  width: 58%;
  top: 29px;
  height: 14px;
  margin-left: 4px;
  position: absolute;

} 
.answer > button{
  position: absolute;
left: 65%;
top: 29px;
border-radius: 8px;
}
.next{
  position: absolute;
  z-index: 1;
  border-radius: 8px;
top: 200px;
left: 85%;
}
.dashboard-name, .score{
  text-align: center;
}
