.black{
  color: black;
}
.green{
  color: green;
}
.red{
  color: red;
}
.hidden{
  display: none;
}
.main-img-section{
  margin-bottom: 2px;
  text-align: center;
  width: 100%;
  /* If you want to change the text to white
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)); */


}
.answer{
  position: absolute;
  background-color: white;
  opacity: .8;
   top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  border: 1px solid black;
  z-index: 5;
}
.answer > label {
  position: absolute;
  width: 100%;
  text-align: center;
}
.answer > input{
  width: 58%;
  top: 29px;
  height: 14px;
  margin-left: 4px;
  position: absolute;

} 
.answer > button{
  position: absolute;
left: 65%;
top: 29px;
border-radius: 8px;
} 
.next{
  position: absolute;
  z-index: 1;
  border-radius: 8px;
top: 200px;
left: 85%;
}
.dashboard-name, .score{
  text-align: center;
}