/* mobile/base */

/* elements */
ul {
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;

}

li {
  display: inline;
  text-align: center;
}
button{
  border: 1px solid black;

}

/* Classes */

.header-bar {
}

.login, .signup{
  float: right;
}

.login{
margin-right: 5px;
}

  /* tablet */
  @media all and (min-width: 768px) {
  
  }
  
  /* desktop */
  @media all and (min-width: 1024px) {
  
  }
  
  
  /* mobile landscape
  @media all and (min-width: 480px) {
  } */
  /* desktop wide
  @media all and (min-width: 1200px) {
  
  } */