.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
}

.content {
	color: #fff;
	background:#867964;
	position: relative;
	height: auto;
	width: 90%;
	border-radius: 3px;

	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 1.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
	font-size: 11px;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
	font-size: 8px;

}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}
.content > p {
	font-size: 13px;
	text-align: center;
}

/* S5 */
@media all and (min-width: 321px) and (max-width: 360px) {	
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: justify;
		font-size: 13px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 10px;
	
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
	}
	
}
/* iPhone 6/7/8 */

@media all and (min-width: 361px) and (max-width: 375px) {
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: justify;
		font-size: 13px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 11px;
	
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
	}

}
/* iPhone X */
@media only screen and (min-width: 361px) and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: justify;
		font-size: 13px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 13px;
	
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
	}
	
}

/* Pixel 2 */

@media all and (min-width: 376px) and (max-width: 411px) {
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: justify;
		font-size: 15px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 13px;
	
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
	}
	
}

/* Pixel 2 XL*/
@media only screen and (min-width: 376px) and (max-width: 411px) and (-webkit-device-pixel-ratio: 3.5){
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: justify;
		font-size: 15px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 15px;
	
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
	}
	
}
/* iPhone 6/7/8 Plus */

@media all and (min-width: 412px) and (max-width: 414px) {
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: justify;
		font-size: 15px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 13px;
	
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
	}

}

/* iphone 5/SE landscape */
@media all and (min-width: 415px) and (max-width: 568px) and (orientation: landscape) {
	.overlay{
		top: -11px;
	}
	.content{
		height: 80%;

	}
	.content h3{
		font-size: 17px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 10px;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 9px;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 10px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
	}
}
/* S5 landscape */
@media all and (min-width: 569px) and (max-width: 640px) and (orientation: landscape) {
	.overlay{
		top: -11px;
	}
	.content{
		height: 80%;
	}
	.content h3{
		font-size: 17px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 11px;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 11px;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 10px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
	}
}
/* iPhone 6/7/8 landscape */
@media all and (min-width: 641px) and (max-width: 667px) and (orientation: landscape) {
	.overlay{
		top: -7px;
	}
	.content{
		height: 80%;
	}
	.content h3{
		font-size: 17px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 11px;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 11px;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 10px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
	}
}
/* Pixel 2 landscape */
@media all and (min-width: 668px) and (max-width: 731px) and (orientation: landscape) {
	.overlay{
		top: 4px;
	}
	.content{
		height: 80%;
	}
	.content h3{
		font-size: 17px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 13px;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 13px;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
	}
}
  /* iPhone 6/7/8 Plus landscape */
  @media all and (min-width: 732px) and (max-width: 736px) and (orientation: landscape) {
		.overlay{
			top: 6px;
		}
		.content{
			height: 80%;
		}
		.content h3{
			font-size: 17px;
		}
		.content > div p {
			margin: 0;
			padding: 10px 0;
			line-height: 2em;
			text-align: center;
			font-size: 13px;
			position: relative;
			bottom: 20px;
		}
		
		
		
		.content > div ul li {
			padding: 5px 0;
			display: block;	
			list-style-type: disc;
			line-height: 1.5em;
			font-size: 13px;
			position: relative;
			bottom: 25px;
			right: 3%;
			
		
		}
		.headline-text{
			display: none;
		}
		
		.content > p {
			font-size: 13px;
			text-align: center;
			position: relative;
			bottom: 60px;
		}
		.close{
			position: relative;
			bottom: 65px;
		}
  }
  /* iPad */
@media all and (min-width: 737px) and (max-width: 768px) {
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 20px;
	
	}
	
	.content > p {
		font-size: 18px;
		text-align: center;
	}
	.close{
		left: 47%;
	}
	.content button {
		font-size: 20px;
	}
}

 /* iPhone X landscape */
 @media all and (min-width: 769px) and (max-width: 812px) and (orientation: landscape) {
	.overlay{
		top: -14px;
	}
	.content{
		height: 85%;
	}
	.content h3{
		font-size: 17px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 13px;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 13px;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
	}
 }
/* Pixel 2 XL landscape */
@media all and (min-width: 813px) and (max-width: 823px) and (orientation: landscape) {
	.overlay{
		top: -14px;
	}
	.content{
		height: 85%;
	}
	.content h3{
		font-size: 20px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 13px;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 13px;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 13px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
	}
}
 /* iPad landscape */
 @media all and (orientation: landscape) and (min-width: 824px) and (max-width: 1024px)  {
	
	
	.overlay{
		top: -45px;
	}
	.content{
		height: 90%;
	}
	.content h3{
		font-size: 26px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 24px !important;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 24px !important;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 24px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
		left: 0 !important;
		font-size: 20px;
	}
}
 /* iPad Pro  */
 @media all and (min-width: 824px) and (max-width: 1024px)  {
	
	.content h3{
		font-size: 31px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 28px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 28px;
	
	}
	
	.content > p {
		font-size: 28px;
		text-align: center;
	}
	.close{
		left: 48%;
		font-size: 24px;
	}
}
/*  Desktop */
@media all and (min-width: 1025px) and (max-width: 1280px) {
	.content h3{
		font-size: 31px;
	}

	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 28px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 24px;
	
	}
	
	.content > p {
		font-size: 24px;
		text-align: center;
	}
	.close{
		left: 48%;
		font-size: 20px;
	}
}
/* iPad Pro landscape */
@media all and (min-width: 1281px) and (orientation: landscape) {
	.overlay{
		top: -45px;
	}
	.content{
		height: 80%;
	}
	.content h3{
		font-size: 41px;
	}
	.content > div p {
		margin: 0;
		padding: 10px 0;
		line-height: 2em;
		text-align: center;
		font-size: 30px !important;
		position: relative;
		bottom: 20px;
	}
	
	
	
	.content > div ul li {
		padding: 5px 0;
		display: block;	
		list-style-type: disc;
		line-height: 1.5em;
		font-size: 30px !important;
		position: relative;
		bottom: 25px;
		right: 3%;
		
	
	}
	.headline-text{
		display: none;
	}
	
	.content > p {
		font-size: 30px;
		text-align: center;
		position: relative;
		bottom: 60px;
	}
	.close{
		position: relative;
		bottom: 65px;
		left: 0 !important;
		font-size: 20px;
	}
}