
.headline-text{
position: absolute;
color: white;
text-align: center;
margin: 10px;
z-index: 1;
font-size: 25px;
-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.main-img-section{
  margin-bottom: 2px;

}
.main-img{
  width: 100%;
  background-color: white;
  opacity: 0.7;
}


.begin{
  position: relative;
  left: 40%;
  bottom: 15px;
}
.descriptions{
   display: flex;
   width: 100%;
}
.space-rep, .track-progress, .fully-custom{
  width: 30%;
  margin-right: 10px;

}
.space-rep{
  margin-left: 10px;
}

.title{
  background-color: red;
  font-size: 10px;
  text-align: center;
  height: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom:5px;
}
.text{
  font-size: 9px;
  border: 1px solid black;

}