
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.home {
 background-color: #1D1707;

}
.main-img-section{
  margin-bottom: 2px;
  position: relative;
  text-align: center;

  /* If you want to change the text to white
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)); */


}
.main-img {
  width: 100%;
}

.logo {
  position: absolute;
  top: 320px;
  left: 690px;
  width: 1000px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.headline-text{
  position: absolute;
  top: 410px;
  left: 690px;
  height: px;
  font-size: 50px;
  width: 1000px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 1px 0 black;
  }

.title{
  background-color: red;
  /* font-size: 10px;
  text-align: left;
  height: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom:5px; */
}

.title2{
  background-color: red;
  /* font-size: 10px;
  text-align: right;
  height: 30px;
  width: 100%;
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom:5px; */
}

.text{
  font-size: 9px;
  background-color: purple;

}


a:link {
  all: unset;
  position: absolute;
  left: 550px;
  top: 550px;
  text-decoration: none;
  font-size: 100px;
  color: inherit;
  text-shadow: 0 1px 0 white;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
color: green;

}

a:active{
  color:pink;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.description-row-1:after {
  content: "";
  display: table;
  clear: both;
}

/* .descriptions{
   display: flex;
   width: 100%;
}
.space-rep, .track-progress, .fully-custom{
  width: 30%;
  margin-right: 10px;

}
.space-rep{
  margin-left: 10px;
} */

  /* tablet */
  @media all and (min-width: 768px) {
  
    .column {
      width: 100%;
  }

  }
  
  /* desktop */
  @media all and (min-width: 1024px) {

    .column {
      width: 100%;
  }
  
  }