home {
  background-color: #1D1707;
 
 }
 .main-img-section{
   margin-bottom: 2px;
   position: relative;
   text-align: center;
 
   /* If you want to change the text to white
   background: linear-gradient(
     rgba(20,20,20, .5), 
     rgba(20,20,20, .5)); */
 
 
 }
 .main-img {
   width: 100%;
 }
 
/* 
label{
  color: white;
  opacity: 1;

} */

input{
  border: 1px solid black;
}

.login-form-container {
display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.login-button {

  position: absolute;
  top: 8px;
  right: 16px;
}