.registration {

} 

label{
  color: white;
  opacity: 1;

}

input{
  border: 1px solid black;
}

.register{
background-color: red;
width: 50%;
display: flex;
position: absolute;
left: 23%;
padding: 5px;

}

.login-form{
  padding-left: 15px;
  align-content: center;

}
